<section>
  <h1>Latest Weibos</h1>
  <ul id="weibos">
    <li class="loading">
      Status updating...
    </li>
  </ul>

  <script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2807031506" type="text/javascript" charset="utf-8">
  </script>

  <script src="{{ root_url }}/javascripts/weibo.js" type="text/javascript"> </script>
  
  <script type="text/javascript">
    WB2.anyWhere(function(W){
      // get latest weibos
      W.parseCMD("/statuses/user_timeline.json", function(sResult, bStatus){
            if(bStatus == true) {
              showWeibos(sResult['statuses'], 5);
            }
          },{
            userid : 2116636225
          },{
            method: 'get'
          });
    });
  </script>
</section>
