{% if site.weibo_user %}
<section>
  <h1>Latest Weibos</h1>
  <ul id="weibos">
    <li class="loading">Status updating...</li>
  </ul>

  <script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3845272542"
        type="text/javascript" charset="utf-8"></script>

  <script src="{{ root_url }}/javascripts/libs/weiboutil.js" type="text/javascript"> </script>
  <script src="{{ root_url }}/javascripts/weibo.js" type="text/javascript"> </script>
  
  <script type="text/javascript">
    WB2.anyWhere(function(W){
        // get latest weibos
        W.parseCMD(
            "/statuses/user_timeline.json",
            function(sResult, bStatus){
                if(bStatus == true) {
                    showWeibos(sResult['statuses'], {{site.weibo_status_count}});
                }
            },
            {screen_name : '{{site.weibo_user}}'},
            {method: 'get'}
        );
    });
  </script>

  {% if site.weibo_follow_button %}
  <div id='wb_follow_btn'>@{{ site.weibo_user}}</div>

  <script type="text/javascript">
    WB2.anyWhere(function(W){
        W.widget.followButton({
            'nick_name': '{{ site.weibo_user}}',
            'id': "wb_follow_btn"
        });
    });
  </script>
  {% else %}
  <p>关注 <a href="http://s.weibo.com/weibo/{{ site.weibo_user }}">@{{ site.weibo_user }}</a></p>
  {% endif %}
</section>
{% endif %}
